.page-wrapper {
    width: 100%;
    margin: auto;
}

#index-page {
    width: 100%;
    margin: 5px;
}
#top-of-page {
    background-color: #f1f1f2;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.quiz-index-carousel {
    margin: 20px 15px;
}

.quiz-index-heading {
    font-size: 1.75rem;
    padding: 3px;
    border-left: 3px solid #f90;
    margin-bottom: 20px;
    font-weight: bold;
}

#index-header {
    display: flex;
    /* justify-content: center; */
    font-weight: 700;
    margin-top: 30px;
}

#home-page-user-link {
    text-decoration: underline;
    font-weight: bold;
}

#index-center-content {
    display: flex;
    justify-content: center;
}

#index-content-container {
    width: 100%;
    display: flex;
    margin-top: 10px;
}


#quizzes-list {
    margin: 20px;
    display: grid;
    grid-template-rows: 500px 500px 500px;
    grid-template-columns: 500px 500px;
}

.quiz-index-list-item {
   width: 500px;
   height: 500px;
}

#other-new-quizzes {
    margin-top: 20px;
    display: flex;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: 292.5px 292.5px;
}

.quiz-index-col {
    padding-right: 30px;
}

#quiz-index-right-col {
    border-right: .0075rem solid #d8d8d8;
    margin-top: 50px;
    width: 321px;
    border-left: .0075rem solid #d8d8d8;
}

.index-page-small-div {
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.index-page-small-div:hover .small-div-quiz-title {
    color: #f90;
    text-decoration: underline;
}

.small-div-quiz-title {
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.375rem;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.small-div-author {
    font-size: .75rem;
    line-height: 1.1875rem;
    color: #666;
}

.small-div-left {
    display: flex;
    flex-direction: column;
}

.small-div-cat-time {
    font-size: .6875rem;
    line-height: .8125rem;
    display: flex;
    justify-content: space-between;
}

.small-div-cat {
    font-weight: bold;
}

.small-div-time {
    color: #666;
}

.small-div-quiz-icon {
    width: 70px;
    height: 70px;
}