.page-wrapper {
    width: 100%;
    margin: auto;
}

#index-page {
    width: 100%;
}
#top-of-page {
    background-color: #f1f1f2;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.quiz-index-carousel {
    margin: 20px 15px;
}

.quiz-index-heading {
    font-size: 1.75rem;
    padding: 3px;
    border-left: 3px solid #f90;
    margin-bottom: 20px;
    font-weight: bold;
}

#index-header {
    display: flex;
    /* justify-content: center; */
    font-weight: 700;
    margin-top: 30px;
}

#home-page-user-link {
    text-decoration: underline;
    font-weight: bold;
}

#index-center-content {
    display: flex;
    justify-content: center;
}

#index-content-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}


#quizzes-list {
    margin: 20px;
    display: grid;
    grid-template-rows: 500px 500px 500px;
    grid-template-columns: 500px 500px;
}

.quiz-index-list-item {
   width: 500px;
   height: 500px;
}

#other-new-quizzes {
    margin-top: 20px;
    display: flex;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: 292.5px 292.5px;
}