#top-of-page {
    background-color: #f1f1f2;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.quiz-index-heading {
    font-size: 1.75rem;
    margin-left: 240px;
    padding: 3px;
    border-left: 3px solid #f90
}

#index-header {
    display: flex;
    /* justify-content: center; */
    font-weight: 700;
    margin-top: 30px;
}

#home-page-user-link {
    text-decoration: underline;
    font-weight: bold;
}

#index-center-content {
    display: flex;
    justify-content: center;
}

#index-content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#quizzes-list {
    margin: 30px;
    display: grid;
    grid-template-rows: 500px 500px 500px;
    grid-template-columns: 500px 500px;
}

.quiz-index-list-item {
   width: 500px;
   height: 500px;

}
