.carousel-container {
    display: flex;
    width: 1500px;
    justify-content: space-between;
}

.carousel-content {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: nowrap;
    overflow: hidden;
    width: 1400px;
}

.carousel-array {
    display: flex;

}

.carousel-array:nth-of-type(2) {
    background-color: red;
}