.carousel-container {
    display: flex;
    justify-content: space-evenly;
}

.array {
    display: flex;
    justify-content: space-between;
}

.array.hidden {
    display: none;
    animation: slide 1s forwards;
}

.array {
}