.carousel-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100px;
}

.carousel-content {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
}

.carousel-array-center {
    position: absolute;
    top: 25px;
    display: flex;
    transition: ease-in 2s;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.carousel-array-left {
    position: absolute;
    left: -1200px;
    transition: ease-in 2s;
}

.carousel-array-right {
    position: absolute;
    top: 15px;
    right: 1300px;
    transition: ease-in 2s;
}

.arrow-button {
    position: absolute;
    height: 42px;
    width: 23px;
    border: 1px solid transparent;
    top: 15px;
}

.arrow-button.right {
    right: 0;
}

.arrow-button.left {
    left: 0;
}
.arrow-button:hover {
    cursor: pointer;
    color: #f90;
    background-color: #ffebcc;
}

.leave-right {
    
}

.enter-right {
}

.carousel-array-container {
    /* overflow: hidden; */
    width: 98%;
    margin: 4%;
    position: relative;
}

.carousel {
    display: flex;
    gap: 20px;
    position: absolute;
    top: -60px;
    width: 1440px;
    overflow: hidden;
}

.carousel.center {
    right: -45px;
    transition: left 1s linear;
    /* animation: 1s ease-in 0s slideInFromLeft; */
    /* transition: 1s ease-in; */
}

.carousel.left {
    right: -2000px;
    transition: right 1s linear;
    
}

.carousel .hidden-arr {
    display: none;
    animation: 1s ease-in;
}

.carousel.right {
    /* animation: 1s ease-in 0s 1 slideOffFromCenter; */
    right: -1530px;
    transition: right 1s linear;
    /* overflow: hidden; */
    /* transition: 1s ease-in; */

}