.category-link {
    text-decoration: none;
    color: black;
}

.category-link:hover {
    color: gray;
}

#category-index {
    display: flex;
    /* justify-content: center; */
}

.category-item {
    margin: 2px;
}


@media screen and (max-width: 1210px) {
    .cat-index-container {
        display: grid;
        grid-template-columns: 395px 395px 395px;
        grid-template-rows:  307px 307px 307px 307px 307px;
        grid-gap: 16px;
        margin: 0 18px 18px 18px;
        /* display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid gray; */
    }

    
}

.categories-page-main-column {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1211px) {
    .cat-index-container {
        display: grid;
        grid-template-columns: 355.5px 355.5px 355.5px 355.5px;
        grid-template-rows: 340px 340px 340px 340px;
        grid-gap: 16px;
        margin: 0 18px 18px 18px;
        /* display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid gray; */
    }
    
}


.cat-heading {
    font-weight: bold;
    font-size: 20px;
    padding: 20px 0 ;
    /* border-bottom: 3px solid #f90 */
}


.quiz-cat-list {
    border: 1px solid #d8d8d8;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}


.quiz-by-cat-list-item {
    display: flex;
    justify-content: center;
    /* width: 200px; */
    /* margin: 12px; */
    border-bottom: 3px solid #f90;
}

.quiz-title-list-item {
    margin: 10px;
}

.categories-page-header {
    margin: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.categories-page-heading {
    font-size: 2.75rem;
    font-weight: 700;
}

.categories-page-subtitle {
    font-weight: 700;
    font-size: 1.125rem;
}

.category-link {
    color: black;
}

.quiz-cat-title-link {
    color: black;
}