#quiz-questions-index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quiz-header {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 30px;
    height: 2.9rem;
    /* dis */
    /* margin: auto; */
}



.answer-input:focus{
    border: 1px solid blue;
}

#answer-box {
    border: none;
}

#play-quiz {
    font-size: 1.25rem;
    line-height: 1rem;
    font-weight: 500;
    border: 1px solid #f90;
    width: 334px;
    padding: 1rem;
    height: 2.875rem;
}

.answer-input {
    border: 1px solid #d8d8d8;
    border-radius: .25rem;
    padding: 1rem;
    /* box-sizing: border-box; */
    line-height: 1rem;
    width: 400px;
    font-size: 1rem;
    /* height: 2.875rem; */
}

.play-or-answer {
    box-sizing: border-box;
    width: 450px;
    margin: 5px 0;
}

#play-quiz:hover {
    border: 1px solid #fbc36f;
}

.answer-input-text {
    font-size: 1.25rem;
    margin-bottom: 6px;
    height: 15px;
}

.answer-input-text-hidden {
    font-size: 1.25rem;
    margin-bottom: 6px;
    height: 15px;
    color: white;

}

.question-table-question {
    border: 1px solid #d8d8d8;
}

.question-table-row {
    border: 1px solid #d8d8d8;
}

#empty-div {
    width: 100px;
}

.revealed-answer-hidden {
    width: 100px;
    display: none;
}

.revealed-answer {
    background-color: firebrick;
    color: white;
}

#right-side-quiz-header {
    display: flex;
    justify-content: space-evenly;
    /* width: 20%; */
    white-space: nowrap;
}

.pause {
    font-size: 12px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.pause-hidden {
    color: white;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#quiz-pause:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

#quiz-pause {
    /* padding: 4px; */
    margin-top: 5px;
    width: 22px;
    height: 22px;
    border: 1px solid black;
    text-align: center;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#quiz-pause-hidden {
    /* padding: 4px; */
    margin-top: 5px;
    width: 22px;
    height: 22px;
    border: 1px solid white;
    text-align: center;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quiz-score-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
}

.score-time-info {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
}

#left-side-quiz-header {
    display: flex;
    flex-direction: column;
}