#quiz-show-page-container {
    margin: auto;
    width: 70%;
}

#quiz-show-page {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#left-side {
    width: 80%;
    border-right: 1px solid #d8d8d8;
    padding-right: 10px;
}

#top-row {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

#top-level-info {
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
}

.quiz-icon {
    width: 75px;
    height: 75px;
}

.quiz-title {
    font-size: 2.75rem;
    font-weight: bold;
    margin-bottom: 15px;
}

#title-description {
    margin: 15px;
}

.quiz-description {
    font-weight: bold;
    font-size: 1.125rem;
    margin-left: 4px;
}

#mid-level-info {
    display: flex;
    align-items: center;
    margin: 10px;
}

#comments-link {
    color: black;
    display: flex;
}


#comments-icon {
    margin-right: 5px;
    position: relative;
    font-size: 22px;
}

#num-comments {
    position: absolute;
    right: 8px;
    top: 3px;
    font-size: 10px;
}

#comments-icon:hover{
    color: #f90;
}


.mid-line {
    margin-right: 10px;
}

#by-line {
    margin-right: 10px;
}

#quiz-show-username-link {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

#quiz-show-username-link:hover {
    color: #f90;
}

#more-info {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    padding: 15px 0;
}

#more-info-header {
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: bold;
}

#quiz-type {
    text-transform: capitalize;
    font-size: .625rem;
    color: #666;
    margin-left: 30px;
}

#quiz-div {
    display: flex;
    justify-content: center;
}

#quiz-content-container {
    display: flex;
    flex-direction: column;
}


/* #play-quiz {
    font-size: 1.25rem;
    line-height: 1rem;
    font-weight: 500;
    padding: 1rem;
    border: 1px solid #f90;
    box-sizing: border-box;
    width: 334px;
}

#play-quiz:hover {
    border: 1px solid #fbc36f;
} */

#num-comments-header {
    font-size: 1.75rem;
    line-height: 1.75rem;
    border-left: .25rem solid #f90;
    padding-left: .5rem;
    font-weight: 700;
    margin-bottom: 30px;
}

#right-side {
    /* border: 1px solid green; */
    width: 20%;
    padding: 10px;
}

/* EXTRAS BUTTON */

#quiz-menu {
    position: relative;
}

.quiz-extras-menu {
    background-color: white;
    color: black;
    position: absolute;
    top: 25px;
    border-radius: 3px;
    border: 1px solid lightgray;
    width: 100px;
}

.quiz-extras-button {
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 25px;
    margin-right: 4px;
    border-radius: 4px;
}

.quiz-extras-button:hover {
    color: #f90;
    background-color: #ffebcc;
    cursor: pointer;
}

.quiz-menu-button {
    background: transparent;
    border: 1px solid transparent;
    font-size: medium;
    color: black;
    padding: 12px 12px 12px 0;
    width: 80px;
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
}

.quiz-menu-button:hover {
    cursor: pointer;
    background-color: #ffebcc;
    color: #f90;
}

.quiz-menu-list-item {
    padding: 12px 0 0 0;
    display: flex;
}

#quiz-creator-spotlight {
    background-color: #f1f1f2;
}

.username-and-icon {
    display: flex;
}

.creator-spotlight-username {
    font-size: .9375rem;
    font-weight: bold;
    color: black;
}

.creator-spotlight-username:hover {
    color: #f90;
    text-decoration: underline;
}

.mid-div-heading-text {
    font-size: .75rem;
    color: #666;
    margin-bottom: .075rem;
}

.mid-div-text {
    font-size: 1.25rem;
}

#user-spotlight-top-div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#user-spotlight-middle-div {
    display: flex;
    justify-content: space-between;
}

#user-spotlight-bottom-div {
    margin-top: 1.25rem;
    display: flex;
    align-items: center;
}

.user-spotlight-bottom-div-link {
    font-size: .9375rem;
    font-weight: bold;
    color: black;
    
}

.user-spotlight-bottom-div-link:hover {
    color: #f90;
    text-decoration: underline;
}

#user-profile-arrow {
    color: #f90;
    padding-left: 10px;
}

