#quiz-show-page {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

#left-side {
    border: 1px solid blue;
    width: 80%;
}

#top-row {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    border: 1px solid purple;
}

#top-level-info {
    border: 1px solid orange;
}

.quiz-title {
    font-size: 2.75rem;
    font-weight: bold
}

#mid-level-info {
    text-transform: capitalize;
    border-bottom: 1px solid #d8d8d8;
}

#more-info {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d8d8d8;
}

#more-info-header {
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: bold;
    border-bottom: 1px solid #d8d8d8;
}

#quiz-type {
    text-transform: capitalize;
    font-size: .625rem;
    color: #666;
    margin-left: 30px;
}

#quiz-div {
    display: flex;
    justify-content: center;
}

#quiz-header {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 50px;
    /* dis */
    /* margin: auto; */
}

#right-side-quiz-header {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}

#play-quiz {
    font-size: 1.25rem;
    line-height: 1rem;
    font-weight: 500;
    padding: 1rem;
    border: 1px solid #f90;
    box-sizing: border-box;
    width: 334px;
}

#right-side {
    border: 1px solid green;
    width: 20%;
}