

#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
}

#modal-paused-background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #f1f1f2;
}

#modal-content-login {
    font-family: 'Roboto', sans-serif;
    border-radius: .75rem;
    padding: 10px;
    position: absolute;
    background-color: white;
    width: 350px;
    height: 550px;
    display: flex;
    flex-direction: column;
}

#modal-content-signup {
    font-family: 'Roboto', sans-serif;
    border-radius: .75rem;
    /* padding: 10px 0 5px 3px; */
    position: absolute;
    background-color: white;
    width: 480px;
    height: 550px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

#modal-content-interim {
    font-family: 'Roboto', sans-serif;
    border-radius: .75rem;
    /* padding: 10px 0 5px 3px; */
    position: absolute;
    background-color: white;
    width: 480px;
    height: 550px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

#modal-paused {
    position: absolute;
    width: 100vh;
    height: 100vh;
}
