.search-results-container {
    margin: 110px 0 25px 0;
    height: 400px;
}

.search-results {
    margin-top: 15px;
}

.results-list-item {
    padding: 10px;
    margin-bottom: 5px;
}

.results-list-item.user {
    border-bottom: 1px solid #d8d8d8;
    padding: 20px;
}

.user-list-item-link {
    display: flex;
}

.user-list-item-link:visited .user-profile-username {
    color:#9f9f9f;
}

.result-title {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
    text-decoration: none;
}

.result-title:hover {
    color: #f90;
    text-decoration: underline;
}

.result-description {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    font-size: 14px;
    line-height: 1.25rem;
}

.result-author-category {
    color: #666;
    font-size: .75rem;
    margin: 0;
    line-height: 1.25rem;
}

.result-info {
    text-decoration: none;
}

.result-info:hover {
    text-decoration: underline;
    color:#f90
}

.search-results-heading {
    margin: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d8d8d8;
}

.search-results-heading a {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .75rem;
    margin-right: 50px;
    padding-bottom: 14px;
}

.search-results-heading a.selected {
    border-bottom: 2px solid #f90;
   
}

.fa-user.user-profile {
    color: rgb(49, 152, 200);
    font-size: 20px;
}

.user-profile-username {
    color: black;
    margin-left: .9375rem;
    font-weight: bold;
    font-size: 14px;
}

.search-results-subheading {
    margin: 10px;
    margin-left: 10px 0 20px 0;
    font-size: .75rem;
    color: #666;
}