#login-text {
    font-size: 20px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-weight: 600;
}

#loginform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.non-form-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.credentials {
    margin-top: 10px;
    padding: 14px;
    border-radius: 5px;
    background-color: rgb(230, 228, 228);
    border: 1px solid transparent;
    box-sizing: border-box;
    width: 100%;
}

.credentials:hover {
    box-sizing: border-box;
    outline: solid 1px black;
    cursor: pointer;
    transition: .3s;
}

.credentials:focus {
    background-color: white;
    outline: solid 1px black;
    transition: .3s;
}

.log-in {
    font-family: 'Roboto', sans-serif;
    background-color: #f90;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 13px;
    display: flex;
    justify-content: center;
    width: 85%;
    transition: .3s;
    margin-bottom: 30px;
}

.log-in:hover {
    background-color: #fbc36f;
    cursor: pointer;
    transition: .3s;
}

.demo-user {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: small;
    border: solid .5px black;
    border-radius: 5px;
    padding: 13px;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 85%;
    margin-bottom: 15px;
}

.hr {
    position: absolute;
    width: 98%;
    border: .0007rem solid rgb(194, 193, 193);
}

.line-break-or {
    position: relative;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.or-text {
    position: absolute;
    top: -8px;
    left: 130px;
    font-size: 12px;
    background-color: white;
    padding: 0 30px;
    color: #666;
}

.demo-user:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.signup-link {
    color: rgb(24, 117, 204);
    background: none;
    border: none;
}

.signup-link:hover {
    color: rgb(24, 117, 204);
    text-decoration: underline;
    cursor: pointer;
}

#signupformmodal {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#subtitle-link {
    color: black;
}

#subtitle-link:hover {
    text-decoration: underline;
    color: #f90;
}

.cred-div {
    width: 85%;
    position: relative;
}

.label {
    position: absolute;
    top: 30%;
    font-size: 14px;
    background: transparent;
    color: #666;
    padding: 9px;
}

.label:hover {
    cursor: text;
}

.label.floating {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    color: #666;
    background: white;
    left: 12px;
    top: 1px;
    padding: 1px;
    transition-duration: .2s;
    transition-property: top, font-size, font-weight, opacity;
    transition-timing-function: ease-in;
}

.label.hidden {
    display: none;
}

.email-cred-div {
    position: relative;
}

.signup-credentials:hover{
    cursor: text;
}

.email-label {
    position: absolute;
    top: 20%;
    font-size: 14px;
    background: transparent;
    color: #666;
    padding: 9px 40px;
}

.email-label:hover {
    cursor: text;
}

.email-label.floating {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    color: #666;
    background: white;
    left: 40px;
    top: -2px;
    padding: 1px;
    transition-duration: .2s;
    transition-property: top, font-size, font-weight, opacity;
    transition-timing-function: ease-in;

}