.signup-credentials {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(230, 228, 228);
    border: 1px solid transparent;
    box-sizing: border-box;
    width: 85%;
    margin-bottom: 10px;
    margin-left: 30px;
}

#modal-contents {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

#sidebar-contents{
    background-color: rgb(229, 229, 229);
    width: 64px;
    padding: 32px 16px 32px 16px;
    border-radius: 0 12px 12px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-links {
    margin-bottom: 150px;
}

#sidebar-email {
    color: #f90;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    transform: .2s;
}

#sidebar-linkedin {
    color: #f90;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#sidebar-github {
    color: #f90;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    transform: .2s;
}

#sidebar-email:hover {
    color: white;
    text-shadow: -1px 0 #f90, 0 1px #f90, 1px 0 #f90, 0 -1px #f90;
    transform: .2s;
}

#sidebar-linkedin:hover {
    color: white;
    text-shadow: -1px 0 #f90, 0 1px #f90, 1px 0 #f90, 0 -1px #f90;
    transform: .2s;
}

#sidebar-github:hover {
    color: white;
    text-shadow: -1px 0 #f90, 0 1px #f90, 1px 0 #f90, 0 -1px #f90;
    transform: .2s;
}


.sidebar-a {
    font-size: 32px;
}

#main-contents {
    width: 100%;
    padding: 0;
}

#loginformmodal {
    display: flex;
    justify-content: center;
}

#join-text {
    font-size: 20px;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 10px;
    font-weight: 600;
}

#subtitle {
    font-size: 12.8px;
    color: rgb(102, 102, 102);
    font-size: small;
    padding-left: 30px;
    padding-bottom: 15px
}

.button-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#text {
    font-size: small;
}

.signup-credentials:hover {
    box-sizing: border-box;
    outline: solid 1px black;
    cursor: pointer;
    transition: .3s;
}

.signup-credentials:focus {
    background-color: white;
    outline: solid 1px black;
    transition: .3s;
}

.signup-submit {
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    background-color: #f90;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 13px;
    display: flex;
    justify-content: center;
    width: 85%;
    transition: .3s;
    margin-bottom: 30px;
    margin-left: 30px

}

.signup-submit:hover {
    background-color: #fbc36f;
    cursor: pointer;
    transition: .3s;
}

.signuppage {
    color: rgb(24, 117, 204);
    background: none;
    border: none;
}

.signuppage:hover {
    color: rgb(24, 117, 204);
    text-decoration: underline;
    cursor: pointer;
}

.interim-signup-link {
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    background-color: #f90;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 13px;
    display: flex;
    justify-content: center;
    transition: .3s;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
    width: 400px;
}

.interim-signup-link:hover {
    background-color: #fbc36f;
    cursor: pointer;
    transition: .3s;
}

.second-button {
    display: flex;
    align-items: center;
}