#category-show-content-container {
    margin: 0 30px;
}

#category-show-top-div {
    margin-bottom: 45px;
}

.category-show-title {
    text-transform: capitalize;
    font-size: 2.75rem;
    font-weight: 700;
}

.category-show-tab {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 45px 5px 0;
}

#category-show-all-quizzes {
    border-top: 1px solid #d8d8d8;

}

#category-show-tabs {
    margin-top: 25px;
}


#category-show-left-col {
    display: flex;
    margin: 25px 0 0 ;
    justify-content: flex-start;
    gap: 25px;
}

#cat-shoq-quiz-info-right {
    display: flex;
    flex-direction: column;
}

.cat-show-quiz-title {
    color: black;
    font-size: 1.25rem;
    line-height: 1.4375rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    text-transform: capitalize;
}
.cat-show-quiz-title:hover {
    color: #f90;
    text-decoration: underline;
}

.cat-show-quiz-desc {
    font-size: .875rem;
    line-height: 1.1875rem;
    color: #666;
}