#quiz-create-page-div {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: 0 20px;
}
#top-box {
    height: 15px;
}
#quiz-create-page-top-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.quiz-create-page-title {
    font-family: inherit;
    font-size: 2.75rem;
    font-weight: 600;
}


#create-page-extras-button {
    background: none;
    color: black;
    font-weight: 700;
    font-size: .75rem;

}

#create-quiz-button {
    padding: .75rem 1rem;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 700;
    border: 1px solid #f90;
    box-sizing: border-box;
    line-height: .875rem;
}

#create-quiz-button:hover {
    border: 1px solid #fbc36f;
}