@import url('reset.css');

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateY(0);
    }   
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOffFromCenter {
    0% {
        transform: translateX(0);
    }
    90% {
        transform: translateX(200%);
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes hideMe {
    to {
        visibility: hidden;
    }
    
}

/* TODO Add site wide styles */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.error {
    color: red;
    list-style: none;
}

.hidden {
    display: none !important;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.submit-button {
    background-color: #f90;
    border: 1px solid #f90;
    color: white;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.submit-button:hover {
    background-color: #fbc36f;
    border: 1px solid #fbc36f;
    cursor: pointer;
    transition: .3s;
}

.page-title {
    font-size: 2.75rem;
    font-family: inherit;
    font-weight: 700;
}

.page-wrapper {
    height: 100vh;
    min-width: 100vh;
    margin: auto;
}
