@import url('reset.css');

/* TODO Add site wide styles */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.error {
    color: red;
    list-style: none;
}

.hidden {
    display: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.submit-button {
    background-color: #f90;
    border: transparent;
    color: white;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.submit-button:hover {
    background-color: #fbc36f;
    cursor: pointer;
    transition: .3s;
}

.page-title {
    font-size: 2.75rem;
    font-family: inherit;
    font-weight: 700;
}