@import url('reset.css');

/* TODO Add site wide styles */
body {
    margin: 0;
}

.error {
    color: red;
    list-style: none;
}

.hidden {
    display: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    background-color: #f90;
    border: transparent;
    color: white;
}

button:hover {
    background-color: #fbc36f;
    cursor: pointer;
    transition: .3s;
}