#users-show-page {
    /* border: 1px solid green; */
    margin: auto;
    width: 95%;
}

#show-page-top-section {
    border: 1px solid red;
    display: flex;
}

#show-page-icon {
    color: rgb(49, 152, 200);
    font-size: 80px;
    padding: 15px;
}

#user-show-page-info {
    width: 100%;
}

#username-and-edit {
    display: flex;
    justify-content: space-between;
}

#show-page-top-info {
    display: flex;
}

#users-show-page-bottom-section {
    display: flex;
    flex-direction: column;
}

#show-page-stats-row {
    border: 1px solid purple;
    margin: auto;
}

#main-user-profile {
    display: flex;
    justify-content: space-between;
}

#show-page-profile-bar {
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    text-transform: uppercase;
    box-sizing: border-box;
    width: 182px;
}

#profile-header {
    padding: 12px 18px;
    background-color: #f1f1f2;
    font-weight: 600;
    box-sizing: border-box;
}

.prof-bar-list-item {
    padding: 12px 18px;
    font-size: 14px;
    font-weight: 600;
    border-left: 3px solid transparent;
    margin: 4px;
}

.prof-bar-list-item:active {
    border-left: 3px solid #f90;
}

.prof-bar-list-item:hover {
    background-color: #ffebcc;
    border-radius: 3px;
}
.prof-bar-link {
    box-sizing: border-box;
    /* padding: 5% 15% */
}

#show-page-middle {
    border: 1px solid brown;
}

#show-page-right-bar {
    border: 1px solid pink;
}