.user-profile-edit {
    border: 1px solid #d8d8d8;
    padding: 20px 20px 0 20px;
}

.photo-upload {
    display: flex;
    align-items: top;
}

.photo-upload-input {
    display: none;
}

.settings-photo-upload {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}

.settings-photo-upload:hover .user-icon-bottom {
    opacity: 1;
}

.settings-user-pic {
    width: 100%;
    height: 100%;
}

.settings-user-icon {
    color: rgb(49, 152, 200);
    font-size: 45px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 55px;
}

.user-icon-bottom.user-pic {
    top: -38px;
}

.user-icon-bottom {
    background-color: black;
    width: 150px;
    height: 35px;
    top: 70px;
    display: inline-block;
    position: relative;
    opacity: .5;
}

#camera-icon {
    color: white;
    font-size: 28px;
    position: relative;
    top: 3px;
}

#photo-upload-label {
    background-color: #f90;
    color: white;
    font-weight: bolder;
    min-width: 85px;
    text-align: center;
    width: initial;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    box-sizing: border-box;
    line-height: 2.7857em;
    white-space: nowrap;
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 40px;
}

.user-profile-el {
    display: flex;
    margin-bottom: 20px;
    /* max-width: 600px; */
}

.user-profile-text {
    font-weight: bold;
    font-size: .875rem;
    text-align: right;
    width: 125px;
    margin-right: 15px;
}

.settings-input {
    background-color: #e5e5e5;
    border-radius: 3px;
    border: 1px solid transparent;
    padding: .75rem;
    line-height: 1.125rem;
    box-sizing: border-box;
}

.settings-input:focus {
    background-color: white;
    border-color: black;
    cursor: text;
    outline: none;
}

#settings-bio {
    width: 450px;
    height: 100px;
}
