#users-show-page {
    /* border: 1px solid green; */
    margin: auto;
    width: 95%;
    height: 90%;
}

#show-page-top-section {
    /* border: 1px solid red; */
    display: flex;
    margin-top: 15px;
}

#show-page-icon {
    color: rgb(49, 152, 200);
    font-size: 80px;
    padding: 32px;
}

#user-show-page-info {
    width: 100%;
}

#username-and-edit {
    display: flex;
    justify-content: space-between;
    margin: 33px 28px 15px 28px;
}

#username {
    font-weight: bold;
    font-size: 24px;
}

#edit-button {
    background: transparent;
    /* outline: 1px solid black; */
    border: 1px solid black;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 12px;
    border-radius: 4px;
    margin-right: 100px;
    line-height: .75rem;
    box-sizing: border-box;
    transition: .2s;
}

#edit-button:hover {
    background-color: black;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    transition: .2s;
}

#show-page-top-info {
    font-size: .9em;
    display: flex;
    margin: 25px;
}


#online {
    justify-content: space-evenly;
    color: #00aa08;
    display: flex;
    margin-right: 12px;

}

#online-circle {
    margin-right: 10px;
}

#user-since {
    display: flex;
}

#clock-icon {
    color: #cfcbcb;
    margin: 0 7px;
}

#users-show-page-bottom-section {
    display: flex;
    flex-direction: column;
}

#show-page-stats-row {
    border: 1px solid purple;
    margin: auto;
}

#main-user-profile {
    display: flex;
}

#user-quiz-plays-container {
    display: flex;
    justify-content: flex-start;
}

#profile-bar-container {
    width: 30%;
}

#show-page-profile-bar {
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    text-transform: uppercase;
    box-sizing: border-box;
    width: 182px;
}

#profile-header {
    padding: 12px 18px;
    background-color: #f1f1f2;
    font-weight: 600;
    box-sizing: border-box;
}

#show-page-middle {
    border: 1px solid brown;
}

.hide {
    display: none;
}

.user-profile-tab-button {
    background: transparent;
    padding: 12px 18px;
    font-size: 14px;
    font-weight: 600;
    border: 3px solid transparent;
    margin: 4px;
}

.user-profile-tab-button:hover {
    background-color: #ffebcc;
    border-radius: 3px;
    cursor: pointer;
}

.button-active {
    background: transparent;
    padding: 12px 18px;
    font-size: 14px;
    font-weight: 600;
    border-right: 3px solid transparent;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    margin: 4px;
    border-left: 3px solid #f90;
}

.button-active:hover {
    background-color: #ffebcc;
    border-radius: 3px;
    cursor: pointer;
}

#user-quiz-plays {
    display: flex;
    flex-direction: column;
 
}

.quiz-takes-heading-row {
    border-bottom: 1px solid grey;
}

.quiz-takes-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: small;
}

.quiz-takes-data {
    padding: 10px 20px 10px 0;
}
 
.tab-heading {
    font-weight: bold;
}

.tab-heading {
    padding-bottom: 6px;
    text-transform: uppercase;
    font-size: 15px;
}

.quizzes-created-link {
    padding-bottom: 7px;
}

.quizzes-created-link:hover {
    color: #f90;
    text-decoration: underline;
}

.quiztake-link:hover {
    color: #f90;
    text-decoration: underline;
}

.load-quizzes {
    cursor: pointer;
    font-size: 12px;
}