#edit-management-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    /* justify-content: flex-start; */
}

.tab {
    border-bottom: transparent;
    /* display: flex; */
    /* justify-content: flex-start; */
}

.tab-form {
    background-color: #f1f1f2;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-top: 1px solid #d8d8d8;
}

.main-inputs {
    display: flex;
    flex-direction: column;
}

.extras {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#quiz-name-heading {
    font-size: large;
}

.tablinks {
    text-transform: uppercase;
    color: black;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 10px;
    outline: transparent;
    border: 1px solid transparent;
    box-sizing: border-box;
    /* border-bottom: #d8d8d8; */

}

.tablinks:hover {
    color: #f90;
    background: transparent;
    cursor: pointer;
}

.tablinks:focus {
    border-bottom: 1px solid #f90;
}

#save-changes {
    text-transform: uppercase;
}