#edit-form-container {
    display: flex;
    justify-content: center;
}

#quiz-edit-top-level-info {
    margin: 5px;
}

#view-quiz-text {
    font-weight: 700;
}

#view-quiz-button {
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 0.25rem;
    background-color: #f90;
    border: 1px solid #f90;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.75rem 1rem;
    width: 130px;
    color: white;
    margin-left: 15px;
}

#view-quiz-button:hover {
    cursor: pointer;
    background-color: #ffa800;
    border: 1px solid #ffa800;

}

#edit-management-form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-family: 'Roboto', sans-serif;
    /* justify-content: flex-start; */
}

.tab {
    border-bottom: transparent;
    /* display: flex; */
    /* justify-content: flex-start; */
}

#quiz-name-heading {
    font-weight: 700;
    font-size: 2.75rem;
}

.tab-form {
    background-color: #f1f1f2;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-top: 1px solid #d8d8d8;
    box-sizing: border-box;
    width: 600px;
    height: 450px;
}


#quiz-edit-table {
    margin-bottom: 30px;
}

#quiz-edit-table-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;

}

.main-inputs {
    display: flex;
    flex-direction: column;
}

.extras {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.tablinks {
    text-transform: uppercase;
    color: black;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 10px;
    outline: transparent;
    border: 2px solid transparent;
    box-sizing: border-box;
    /* border-bottom: #d8d8d8; */

}

.tablinks:hover {
    color: #f90;
    background: transparent;
    cursor: pointer;
    box-sizing: border-box;
}

.tablinks:focus {
    border-bottom: 2px solid #f90;
    box-sizing: border-box;
}

.active {
    text-transform: uppercase;
    color: black;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 10px;
    outline: transparent;
    border: 2px solid transparent;
    border-bottom: 2px solid #f90;
    box-sizing: border-box;
}

.save {
    margin: 20px 90px 60px;
}

#save-changes {
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: .25rem;
    background-color: #f90;
    border: 1px solid #f90;
    font-size: .75rem;
    font-weight: 700;
    padding: .75rem 1rem;
    width: 130px;
    margin: auto;
}

#save-changes:hover {
    background-color: #ffa800;
    border: 1px solid #ffa800;
}

#save-text {
    margin-top: 20px;
    font-size: .875rem;
    font-weight: normal;

}

.display-none {
    display: none;
    width: 600px;
    height: 500px;
}

table {
    display: flex;
}

.row-heading {
    font-weight: bold;
    font-size: .875rem;
    padding-left: 20px;
    width: 100px;
    flex-grow: 1;
}

.row-info {
    flex-grow: 5;
    padding-left: 0;
    display: flex;
    justify-content: left;
    width: 300px;
}

.table-row {
    border-bottom: 1px solid #d8d8d8;
    display: flex;
    justify-content: space-between;
    height: 52.53px;
    align-items: center;
}

#presentation-tab {
    /* width: 500px; */
    border-top: 1px solid #d8d8d8;
    padding: 20px 20px 50px;
}

.presentation-tabform {
    display: flex;
    flex-direction: column;
    /* margin: 30px; */
}

.quiz-edit-input {
    border-radius: 3px;
    outline: 1px solid black;
    border: none;
}

#quiz-icon-div {
    display: flex;
    flex-direction: column;
}

#quiz-icon-label {
    font-size: 9pt;
    padding-bottom: 6px;
}

.upload-image-button {
    font-size: 9pt;
    background-color: white;
    width: 180px;
    margin-bottom: 15px;
}

#quiz-icon-preview {
    margin-bottom: 15px;
    height: 40%;
    width: 40%;
}

#image-preview-and-save {
    display: flex;
    flex-direction: column;
}