#footer-top-nav {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    height: 180px;
    padding: 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

#footer-left-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

#num-quizzes-played {
    font-size: 16px;
    font-weight: bold;
}
/* #footer-middle-nav {
    width: 200px;
} */

#footer-right-nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

#footer-line-break {
    position: relative;
    width: 100%;
    margin: .625rem 0 .625rem;
    padding-top: 8px;
    padding: 0;
}

#est-text {
    position: absolute;
    padding: 0 8px;
    font-size: small;
    top: -5px;
    left: 40px;
    background-color: white;
    z-index: 100;
}

#sub-footer-line-break {
    border-bottom: 1px solid #666;
    position: absolute;
    width: 120px;
    left: 15px;
    top: 4p3;
}

.footer-subtext {
    font-size: 12px;
    margin-top: 7px;
}

#sparkle-logo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-links-section {
    font-size: 12px;
    display: flex;
}

.line-separator {
    height: 180px;
    border-right: 1px solid #d8d8d8;
    margin-right: 40px;
}
.footer-header {
    padding: 8px;
    font-weight: bold;

}
.footer-item {
    padding: 8px;
    color: #666;
}

.footer-item-link {
    padding: 8px;
}

/* .footer-links a{
    color: #666;
} */

.footer-links a:-webkit-any-link {
    color: #666;
    cursor: pointer;
}

.footer-links a:hover {
    color: #f90;
    text-decoration: underline;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

#footer-bottom-nav {
    display: flex;
    align-items: center;
}

.copyright-text {
    font-size: 12px;
}

.fa-copyright {
    padding: 0 3px;
    margin-bottom: 30px;
}

.copyright-text a:hover{
    text-decoration: underline;
    color: #f90;
}