#main-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 14px 20px;
    border-bottom: 1px solid #d8d8d8;
}

#left-nav {
    display: flex;
    justify-content: space-between;
    width: 440px;
    margin-left: 15px;
    white-space: nowrap;
    overflow: hidden;
}

#headers-extras-button {
    border: transparent;
    background: transparent;
    font-size: 24px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: .2s;
}

#headers-extras-button:hover{
    color: #f90;
    background-color: #ffebcc;
    cursor: pointer;
    transition: .2s;
}

#nav-home-link {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#nav-home-link-icon {
    font-size: 40px;
    border: black;
    color: #f90;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nav-home-link-text {
    font-family: 'Asap', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

#nav-links-left {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}

.left-nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
    transition: .2s;
}

.left-nav-link:hover {
    color: #f90;
    transition: .2s;
}

#nav-buttons-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-button {
    background: transparent;
    border: transparent;
    height: 50px;
    width: 50px;
    font-size: 22px;
    margin-left: 15px;
    position: relative;
    /* transition: .2s; */
}

#search-button:hover {
    background-color: #ffebcc;
    color: #f90;
    border-radius: 50%;
    cursor: pointer;
    /* transition: .2s; */
}

#right-nav-button {
    padding: 12px;
    font-size: .75rem;
    font-weight: 700;
}

#bottom {
    height: 30px;
}

.categories-menu {
    background-color: white;
    border-radius: 3px;
    border: 1px solid #d8d8d8;
    position: absolute;
    z-index: 1;
}

.categories-menu-heading {
    font-weight: bold;
}

#headers-extras-button {
    position: relative;
}

.search-bar-menu {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 70px;
    left: -10px;

}

.fa-solid.fa-x {
    color: #f90;
}
