.navbar {
    background-color: #f90;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 00;
    font-size: .75rem;
    height: 2.375rem;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 10px; */
}

.home-link {
    display: flex;
    justify-content: space-between;
    width: 70px;
    align-items: center;
    padding: 0 0.75rem;
}

.nav-link-items {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}


#home-break {
    width: 5px;
}

/* 
.list-item:hover {
    background-color: #fbc36f;
    color: white;
} */

#logout-button:hover {
    background-color: #fbc36f;
}

.profile-button {
    position: relative;
    font-size: medium;
    padding-top: 10px;
    padding-bottom: 9px;
    padding-right: 5px;
}

.navLinks {
    color: white;
    text-decoration: none;
    font-size: .75rem; 
    padding: 0 0.75rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.navLinks:hover {
    background-color: #fbc36f;
    /* color: white; */
}

.loginsignup {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.loginsignup button {
    font-family: 'Roboto', sans-serif;
    background: none;
    border: none;
    color: white;
    transition: .3s;
    
}

.loginsignup:hover {
    cursor: pointer;
    background-color: #f9bd64;
    transition: .3s;
}

#home-button {
    color: white;
    font-size: 1rem;
}

/* logged in */
.menu {
    background-color: white;
    border: none;
    color: black;
    position: absolute;
    top: 10px;
    right: -5px;
}

.profile-button:hover {
    cursor: pointer;
    background-color: #fbc36f;
    /* padding-right: 0; */
}

#user-profile:hover {
    background-color: #fbc36f;
    cursor: pointer;
}

#logout-button {
    background: white;
    border: none;
    color: black;
}
