#login-text {
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.credentials {
    margin-top: 10px;
    padding: 14px;
    border-radius: 5px;
    background-color: rgb(238, 237, 237);
    border: 1px solid transparent;
    box-sizing: border-box;
    width: 85%;
}

.credentials:hover {
    box-sizing: border-box;
    border: solid 1px black;
    cursor: pointer;
}


.log-in {
    font-family: 'Roboto', sans-serif;
    background-color: #f90;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 13px;
    display: flex;
    justify-content: center;
    width: 85%;
    transition: .3s;
    margin-bottom: 30px;
}

.log-in:hover {
    background-color: #fbc36f;
    cursor: pointer;
    transition: .3s;
}

.demo-user {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: small;
    border: solid .5px black;
    border-radius: 5px;
    padding: 13px;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 85%;
    margin-bottom: 15px;
}

.hr {
    color: rgb(194, 193, 193);
    height: 0.1%;
    width: 98%;
    border-width: 1px;
}

.demo-user:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.loginsignup button {
    font-family: 'Roboto', sans-serif;
    background: none;
    border: none;
    color: white;
}

.signup-link {
    color: rgb(24, 117, 204);
    background: none;
    border: none;
}

.signup-link:hover {
    color: rgb(24, 117, 204);
    text-decoration: underline;
    cursor: pointer;
}